table.admin
  margin-top: 20px
  background: white
  border: 1px solid black
  clear: both

nav.admin
  top: 30px
  position: absolute
  display: block


a.admin
  border: 1px solid black
  padding: 3px
  margin: 5px
  &:link, &:visited, &:hover, &:active
    background: white
p
  color: white
  padding: 3px
  margin: 5px

div.field
  color: white