#north
  position: absolute
  top: 5px
  right: 5px
#east
  position: absolute
  bottom: 5px
  right: 5px
#south
  position: absolute
  bottom: 5px
  left: 5px
#west
  position: absolute
  top: 5px
  left: 5px

.directions
  position: absolute
  width: 800px
  height: 600px

a
  padding: 3px
  color: #222
  background-color: #F0EAD6
  border: 1px solid black
  font-family: 'Special Elite', sans

nav.user
  position: absolute
  top: 0px
  left: 0px

div.title
  width: 100%
  text-align: center
  h1
    width: 300px
    margin: 0px auto 0px auto
    padding: 3px
    color: #F0EAD6
    background-color: #222
    border: 1px solid black
    font-family: 'Special Elite', sans
  h3
    margin: 0px auto 0px auto
